# IBM Watsonx.ai Credentials
# Copy this file to .env and fill in your actual values

IBM_API_KEY=bNlZ42vF3Mg4FTXesJV_fYMTFHfTbFiXHHKwY5WXbqh0
WATSONX_PROJECT_ID=5a6c22cb-7aad-4a6d-b93c-829192bd19ab 
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# Flask Config
FLASK_SECRET_KEY=FLASK_SECRET_KEY
FLASK_DEBUG=False
